.bgimg-1 {
    background-position: left center;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("../assets/cover-2048.jpg");
    min-height: 100%;
}

.center-div {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: fit-content;
}

.content-body {
    background-color:rgba(0,0,0,0.75);
    color: white;
    margin-left:auto;
    margin-right:auto;
    margin:auto;
}

.navbar-offset {
    margin-top:52px;
}

.fixed-div {
    position: fixed;
}