.bgimg-1 {
    background-position: left center;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("../assets/cover-2048.jpg");
    min-height: 100%;
}

.center-div {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: fit-content;
    height: -moz-fit-content;
}

.content-body {
    background-color:rgba(0,0,0,0.75);
    /* text-shadow: 1px 1px #000000; */
    color: white;
    margin-left:auto;
    margin-right:auto;
    margin:auto;
}

.navbar-offset {
    margin-top:52px;
}

.fixed-div {
    position: fixed;
}

.card-header {
    border-radius: 4px 4px 0px 0px;
    background-color: #f1f1f1!important;
}

.card-footer {
    border-radius: 0px 0px 4px 4px;
    background-color: #f1f1f1!important;
}

.accent-color-background {
    background-color: #ffcc66;
}

.accent-color-foreground {
    color: #ffcc66;
}

.pill-left-end {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    /* border-radius: 16px 0px 0px 16px; */
}

.pill-right-end {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    /* border-radius: 0px 16px 16px 0px; */
}